{% extends 'base/base.html' %}

{% block title %} Home {% endblock title %}

{% block content %}
<div class="container mt-4 mx-2">
    <h2 class="heading ">Aim</h2>
    <p>International journal of Knowledge Exploration in computational Intelligence aims to help and encourage knowledge construction initiatives using AI & ML across all areas, such as Engineering and Physical Science, Social Science and Humanities, Health Science, Life Science. It has been planned to support the connection between facility activities and study and development ones, more related to Universities and research centers. This connection yields encouraging researches on relevant subjects.</p>
    <p>It provides open access to its content. By “open access”, we mean the permitted accessibility on the public internet, the go-ahead for all users to read, download, copy, distribute, print, search, or link to the full text of the manuscripts, sneak them for indexing, pass them as data to software, or use them for any other lawful purpose, without financial, legal, or technical barriers other than those inseparable from gaining access to the internet itself. The only constraint on reproduction and distribution, and the only role for copyright in this domain is to guarantee the original authors with control over the integrity of their work and the right to be properly acknowledged and cited</p>
    <p>This makes Benjour a peculiar relationship, because it gets together researchers and technicians, in a righteous loop that puts the information of the needs of the research work in contact with scientific research, and vice versa.</p>
</div>
{% endblock content %}

{% block script %} {% endblock script %}