{% extends 'base/base.html' %}

{% block title %} Home {% endblock title %}

{% block content %}
<div class="container mt-4 mx-2 pb-5">
  <h2 class="heading ">Contact</h2>
  <br>
  <br>
  <h5>Principal Contact</h5>
  <span>Dr. Kumaravel.  A</span> <br>
  <span>Editor-in-Chief:  </span> <br>
  <span>Email: editor@benjour.in</span>
  <!--  -->
  <br>
  <br>
  <h5>Dr. Vijayan.  T</h5>
  <span>Dr. Kumaravel.  A</span> <br>
  <span>Associate Editor-in-Chief:  </span> <br>
  <span>Email: author@benjour.in</span>
  <!--  -->
  <br>
  <br>
  <h5>Administrative Support</h5>
  <span>Nagoor Kani. A</span> <br>
  <span>Managing Director</span> <br>
  <span>Email: md@benjour.in</span>
  
</div>
{% endblock content %}

{% block script %} {% endblock script %}