{% extends 'base/base.html' %}

{% block title %} Home {% endblock title %}

{% block content %}
<div class="container mt-5 mb-5 mx-2 ">
    {% for item in journal_name %}
    <section class="journal-intro">
        <div class="container py-5">
            <h3 class="">{{item.title}}</h3>
            <div class="text-center mt-4">
                <a href="{% url 'journal_volume' item.id %}" class="btn btn-primary btn-lg">Explore</a>
            </div>
        </div>
    </section>
    {% endfor %}
</div>
{% endblock content %}

{% block script %} {% endblock script %}