{% extends 'base/base.html' %}

{% block title %} Home {% endblock title %}

{% block content %}
<div class="container mt-4 mx-2">
    <div class="mt-5 mb-5 d-flex justify-content-center flex-column align-items-start bg-light p-3 rounded" style="width: 99%;">
        <h5 class="" style="color: #3423a6;">{{paper_view.title}}</h5>
        <p>keywords : {{paper_view.keywords}}</p>
        <p>published by : {{paper_view.author}}</p>
        <p>published at : {{paper_view.published_date}}</p>
        <a href="http://127.0.0.1:8000/{{paper_view.pdf_file.url}}" download class="btn btn-danger mb-2">
            <i class="fas fa-file-pdf"></i> PDF Document Download
        </a>
        <a href="http://127.0.0.1:8000/{{paper_view.word_file.url}}" download class="btn btn-primary">
            <i class="fas fa-file-word"></i> Word Document Download
        </a>
    </div>
</div>
{% endblock content %}

{% block script %} {% endblock script %}