{% extends 'base/base.html' %}

{% block title %} Home {% endblock title %}

{% block content %}
<div class="container mt-4 mx-2 mb-5">
  <h2 class="heading ">Privacy Statement</h2>
  <br>
  <p>The personal details with names and email addresses entered in this journal site will be treated exclusively for the stated purposes of this journal and will not be made available for any other purpose or to any other party.</p>
  <p class="mb-5">If you have any questions regarding this policy or your personal information, we can be contacted via email.</p>

  
</div>
{% endblock content %}

{% block script %} {% endblock script %}