{% extends 'base/base.html' %}

{% block title %} Home {% endblock title %}

{% block content %}
<div class="container mt-4 mx-2">
    <h2 class="heading ">Scope</h2>
    <p>The knowledge areas lie in the scope are not limited to the following subjects:</p>
    <section class="container my-5">
        <div class="row">
            <div class="col-md-3 ">
                <p>AI Application</p>
                <p>Artificial Intelligence Circuits and Systems</p>
                <p>Artificial neural networks</p>
                <p>Autonomous reasoning</p>
                <p>Cloud computing</p>
                <p>Computer/Machine vision</p>
                <p>Data mining</p>
                <p>Telecommunications</p>
                <p>Time series prediction</p>
            </div>
            <div class="col-md-3 ">
                <p>Data science</p>
                <p>Decision support systems</p>
                <p>Deep learning</p>
                <p>Evolutionary computing</p>
                <p>Expert systems</p>
                <p>Fault diagnosis</p>
                <p>Genetic algorithms</p>
                <p>Telecommunications</p>
                <p>Time series prediction</p>
            </div>
            <div class="col-md-3 ">
                <p>Human-machine interaction and interfaces</p>
                <p>Image processing</p>
                <p>Intelligent information retrieval</p>
                <p>Intelligent machine/agent</p>
                <p>Internet and networks</p>
                <p>Internet of Things (IoT)</p>
                <p>Knowledge representation and reasoning</p>
                <p>Virtual reality</p>
                <p>Web intelligence</p>
            </div>
            <div class="col-md-3 ">
                <p>Machine learning</p>
                <p>Natural language processing</p>
                <p>Pattern recognition</p>
                <p>Prediction systems</p>
                <p>Process and system control</p>
                <p>Real-time systems</p>
                <p>Risk analysis and safety-related issues</p>
                <p>Robotics</p>
                <p>Signal and image processing</p>
                <p>System control</p>
                <p>System modelling and optimization</p>
                <p>Systems integration</p>
            </div>
        </div>
    </section>
</div>
{% endblock content %}

{% block script %} {% endblock script %}