{% extends 'base/base.html' %}

{% block title %} Home {% endblock title %}

{% block content %}
<div class="container mt-4 mx-2">
    <h1>Submission</h1>
    <p class="mt-4">
        The proposed Manuscript should follow the recommended format KTAML Template (.docx) or (.doc) strictly abiding the author guidelines.
    </p>
    <p class="mt-4 mb-5">
        The submitted manuscripts should be plagiarism free and might not be published previously elsewhere. Manuscripts are to be submitted in MS Word format (.doc/.docx) to E Mail: research@decisiontreekt.com
    </p>
</div>
{% endblock content %}

{% block script %} {% endblock script %}
