{% extends 'base/base.html' %}

{% block title %} Home {% endblock title %}

{% block content %}
<div class="container mt-4 mx-2">
  <h2 class="heading ">Editorial Team</h2>
  <br>
  <h5>Editor-in-Chief</h5>
  <p>⦁	Dr. Kumaravel. A, Bharath Institute of Higher Education and Research, India.</p>
  <br>
  <h5>Associate Editors-in-Chief</h5>
  <p>⦁	Dr. Vijayan. T, Bharath Institute of Higher Education and Research, India.</p>
  <p>⦁	Dr. Parasuraman Padmanabhan, Nanyang Technological University, Singapore</p>
  <p>⦁	Dr. Matthew Teow, Sunway University, Kuala Lumpur, Malaysia.</p>
  <br>
  <h5>Editorial Board</h5>
  <p>⦁	Dr. M.Ponnavaikko. M, Provost, Bharath Institute of Higher Education and research, India.</p>
  <p>⦁	Dr. Lal Kishore. K, Former Vice Chancellor, JNT university, Anantapur, India</p>
  <p>⦁	Dr. Thamarai Selvi Somasundaram , Registrar, Carolina University, USA</p>
  <p>⦁	Dr. Ponnammal Natarajan , Former Dean (Academic Research), Anna University, India</p>
  <p>⦁	Dr. Shoba Bindu. C ,JNTUA College of Engineering, India</p>
  
</div>
{% endblock content %}

{% block script %} {% endblock script %}