<div class="container-fluid text-center pb-3 pt-3" style="background-color: #caf0f8;">
    {% comment %} <p class="mt-4"><b>Indexed</b> in Google Scholar, CrossRef</p> {% endcomment %}
    <p class="mt-4">Published by, <b>Nagoor Kani</b> A, Managing Director, for</p>
    <h3 class="mt-4">Benjour Publications Private Limited, India</h3>
    <p class="mt-4 mb-0">New No.46, (Old No. 43), Seshachalam Street</p>
    <p class="mt-0">Saidapet,  Chennai, India,  PIN-600 015.</p>
    <p>&copy; 2024 <b>BPPL</b>. All rights reserved. developed by <b><a href="https://redback.in">Redback</a></b></p>

</div>